<div class="vh-100">
  <mat-toolbar color="primary" class="position-fixed fixed-top">
    <mat-toolbar-row class="d-flex justify-content-between">
      <div>
        <i class="hand bi bi-list fs-3" (click)="drawer.toggle()"> </i>

        <span class="display-1 fs-3">لغات العصر</span>
      </div>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>person</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>تسجيل الخروج</span>
    </button>
  </mat-menu>

  <mat-drawer-container class="h-100" autosize>
    <mat-drawer #drawer class="h-100 side-nav-side" mode="side">
      <div class="nav-size"></div>
      <mat-nav-list>
        <a mat-list-item routerLinkActive="bg-primary" routerLink="/home"
          >الصفحة الرئيسية</a
        >
        <a mat-list-item routerLinkActive="bg-primary" routerLink="/invoices"
          >الفواتير</a
        >
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <div class="nav-size"></div>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
