<section class="p-3" [formGroup]="toppings">
  <h5>برجاء اختيار المنتجات التي تريد ارجعها</h5>
  <div class="overflow-auto box-size">
    <mat-checkbox class="d-block" formControlName="pepperoni"
      >المنتج 1</mat-checkbox
    >

    <mat-checkbox class="d-block" formControlName="extracheese"
      >المنتج 2</mat-checkbox
    >

    <mat-checkbox class="d-block" formControlName="mushroom"
      >المنتج 3</mat-checkbox
    >
  </div>
  <div class="d-flex justify-content-between px-2">
    <button color="primary" mat-flat-button type="submit">ارجاع</button>
    <button matDialogClose mat-flat-button type="button">الغاء</button>
  </div>
</section>
